In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stu.csv')

In [3]:
df

   No    Name  Sub1  Sub2  Sub3  Sub4  Sub5
0   1    aaaa    11    12    13    14    15
1   2  bbbbbb    21    22    23    24    25
2   3  cccccc    31    32    33    34    35

In [4]:
df.describe()

        No  Sub1  Sub2  Sub3  Sub4  Sub5
count  3.0   3.0   3.0   3.0   3.0   3.0
mean   2.0  21.0  22.0  23.0  24.0  25.0
std    1.0  10.0  10.0  10.0  10.0  10.0
min    1.0  11.0  12.0  13.0  14.0  15.0
25%    1.5  16.0  17.0  18.0  19.0  20.0
50%    2.0  21.0  22.0  23.0  24.0  25.0
75%    2.5  26.0  27.0  28.0  29.0  30.0
max    3.0  31.0  32.0  33.0  34.0  35.0

In [6]:
df.shape

(3, 7)